//  COLORS
$color-white: #fff;
$color-black: #000;
$color-yellow: #FFCD1F;
$color-purple: #8980F5;
$color-light-grey: #F0F0F0;
$color-dark-blue: #4257B2;
$color-light-blue: #3ccfcf;

//FONT
@import url('https://fonts.googleapis.com/css?family=Roboto');
